@model ParkMark.Model.Web.Admin.AdminLogin
@{
    ViewBag.Title = "CPanelLogin";
}

<h2>CustomerLogin</h2>
@using (Html.BeginForm("CheckAuthenticate", "CPAuthentication"))
{
    if (Model.Status != ParkMark.Model.ResponseStatus.Success)
    {
        <div>@Model.EndUserMessage</div>
    }
    @Html.LabelFor(m => m.UserName);
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" });
    @Html.LabelFor(m => m.Password);
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" });
    <input type="submit" />
}