@model ParkMark.Model.Web.Customer.CustomerRegister
@{
    ViewBag.Title = "CustomerRegister";
}

<h2>CustomerRegister</h2>
@using (Html.BeginForm("CustomerRegister", "Authentication"))
{
    if (Model.Status != ParkMark.Model.ResponseStatus.Success)
    {
        <div>@Model.EndUserMessage</div><br />
    }
    @Html.LabelFor(x => x.Email);<br />
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" });<br />
    @Html.LabelFor(x => x.Password);<br />
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" });<br />
    <input type="submit" />
}